<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Escenarios de Simulación RM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Creación de Escenarios de Simulación RM</h1>
        <form method="POST" action="{{ url_for('main.openai_api') }}" onsubmit="showModal()">
            {{ form.hidden_tag() }}            
            <h3>Sección 0: Datos iniciales</h3>
            {{ form.nombre_escenario.label }} {{ form.nombre_escenario() }}
           
            <br>
            <br>
            <hr>
            <h3>Sección 1: El participante</h3>
            {{ form.rolParticipante.label }} {{ form.rolParticipante() }}
            {{ form.descripcion_escenario.label }} {{ form.descripcion_escenario() }}
            {{ form.objetivo1.label }} {{ form.objetivo1() }}
            {{ form.objetivo2.label }} {{ form.objetivo2() }}
            <br>
            <br>
            <hr>
            <h3>Sección 2: El contenido</h3>
            {{ form.contenido.label }} {{ form.contenido() }}
            <br>
            <br>
            <hr>
            <h3>Sección 3: El escenario</h3>
            {{ form.escenario1.label }} {{ form.escenario1() }}
            {{ form.escenario2.label }} {{ form.escenario2() }}
            {{ form.sobreLaSimulacion.label }} {{ form.sobreLaSimulacion() }}
            <br>
            <br>
            <hr>
            <h3>Sección 4: Los personajes</h3>
            {{ form.personajes.label }} {{ form.personajes() }}
            {{ form.dificultad.label }} {{ form.dificultad() }}

            <br>
            <br>
            <hr>
            <h3>Sección 5: La retroalimentacion</h3>
            {{ form.retroalimentacion.label }} {{ form.retroalimentacion() }}           
            
            {{ form.submit() }}
        </form>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadingModalLabel">Creando Escenario</h5>
                </div>
                <div class="modal-body">
                    Por favor, espera mientras se crea el escenario...
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function showModal() {
            $('#loadingModal').modal('show');
        }
    </script>
</body>
</html>